@use '../../utils/styles/variables' as vars;

.tag {
  min-width: 115px;
  height: 25px;
  background: vars.$brandingColor;
  border-radius: 10px;
  text-align: center;

  @media (max-width: vars.$mobileWidth) {
    min-width: 84px;
    height: 29px;
  }
}

.tag span {
  padding: 0 22px 0 22px;
  color: vars.$fontColor--alt;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  @media (max-width: vars.$mobileWidth) {
    padding: 0 2px 0 2px;
    font-size: 10px;
    line-height: unset;
  }
}
