@use '../../utils/styles/variables' as vars;

.loader {
    min-width: 100dvw;
    min-height: 65dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loader::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: ' ';
    display: block;
    width: 48px;
    height: 48px;
    margin: 8px;
    border-radius: 50%;
    border: 5px solid vars.$brandingColor;
    border-color: vars.$brandingColor transparent vars.$brandingColor transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}