@use './variables' as vars;

@mixin desktopBody() {
  max-width: vars.$desktopWidth;
  background: #ffffff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: vars.$mobileWidth) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin bannersFigcaption() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 9999;
  font-size: 48px;
  font-weight: 700;
  height: 68px;
  white-space: nowrap;
  line-height: 68.448px;
  text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
  -webkit-text-stroke-color: #000000;
  letter-spacing: 2px;

  @media (max-width: vars.$mobileWidth) {
    padding-left: 16px;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-size: 24px;
    width: 280px;
    height: 48px;
    line-height: 24px;
    white-space: unset;
  }
}
