@use '../../utils/styles/variables' as vars;

header {
  padding-top: 45px;

  @media (max-width: vars.$mobileWidth) {
    padding-top: 20px;
  }
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav figure {
  width: 210px;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: vars.$mobileWidth) {
    width: 145px;
  }
}

header nav div {
  display: flex;
  gap: 3.56em;
  font-size: 24px;

  @media (max-width: vars.$mobileWidth) {
    font-size: 12px;
    text-transform: uppercase;
  }
}

header a {
  color: vars.$fontColor;
  text-decoration: none;

  &:hover {
    text-decoration: 2px underline vars.$fontColor;
  }
}

.activeLink {
  text-decoration: underline;
}
