@use '../../utils/styles/variables' as vars;

footer {
  padding: 66px 0 29px 0;
  background: #000000;
  color: #ffffff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.footerContent {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 28.56px;

  @media (max-width: vars.$mobileWidth) {
    padding: 66px 0 58px 0;
    width: 133px;
    height: 46px;
    text-align: center;
  }
}

.footerContent p {
  @media(max-width: vars.$mobileWidth){
    line-height: 17.112px;
    font-size: 16px;
    width: 120px;
  }
}
